name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.5.1

      - name: Install dependencies
        run: |
          poetry env use ${{matrix.python-version}}
          poetry install --extras=testing

      - name: Test with pytest
        run: |
          poetry run pytest tests/

  integration-tests:
    runs-on: ubuntu-latest
    needs: [unit-tests]

    steps:
      - uses: actions/checkout@v3

      - name: Integration Tests
        run: |
          cd examples/intro/
          docker compose build overview_srv
          docker compose run overview_srv pytest --tb=short
